# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
*.log
db.sqlite3
media/

# Static files (if collected)
staticfiles/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
